<div class="container-fluid" id="about">
  <div class="container">

    <div class="text-center">
      <h1 class="text-white text-uppercase">ABOUt ME</h1>
    </div>
    <hr class="bg-white">
    <p class="text-center font-italic text-white">A small introduction about my self</p>

    <p class="p-5 text-center font-italic text-white">
      Inventive Front End Developer with 2+ years of broad expertise in UI/UX & Design, JavaScript/ES6/ES2017 areas with
      willingness to learn and master Back-end Development
    </p>

    <div class="skills text-black">

      <!-- skills progress bar -->

      <!-- skill #1 -->
      <div class="skillset row m-0">
        <div class="d-flex justify-content-center pl-0 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" data-aos="fade-right">
          <label class="text-capitalize">Angular</label>
        </div>
        <div class="progress px-0 align-self-center col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" data-aos="fade-left">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            style="width: 85%;">
            <span class="sr-only">85% Complete</span>
          </div>
        </div>
      </div>
      <!-- end skill #1 -->

      <!-- skill #2 -->
      <div class="skillset row m-0">
        <div class="d-flex justify-content-center pl-0 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" data-aos="fade-right">
          <label class="">HTML5, CSS3, SASS</label>
        </div>
        <div class="progress px-0 align-self-center col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" data-aos="fade-left">
          <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
            style="width: 80%;">
            <span class="sr-only">80% Complete</span>
          </div>
        </div>
      </div>
      <!-- end skill #2 -->



      <!-- skill #3 -->
      <div class="skillset row m-0">
        <div class="d-flex justify-content-center pl-0 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" data-aos="fade-right">
          <label class="text-capitalize">Core java</label>
        </div>
        <div class="progress px-0 align-self-center col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" data-aos="fade-left">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            style="width: 70%;">
            <span class="sr-only">70% Complete</span>
          </div>
        </div>
      </div>
      <!-- end skill #3 -->

      <!-- skill #4 -->
      <div class="skillset row m-0">
        <div class="d-flex justify-content-center pl-0 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" data-aos="fade-right">
          <label class="text-capitalize">Node JS</label>
        </div>
        <div class="progress px-0 align-self-center col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" data-aos="fade-left">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            style="width: 75%;">
            <span class="sr-only">75% Complete</span>
          </div>
        </div>
      </div>
      <!-- end skill #4 -->

      <!-- skill #5 -->
      <div class="skillset row m-0">
        <div class="d-flex justify-content-center pl-0 col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" data-aos="fade-right">
          <label class="text-capitalize">MongoDB,MySQL</label>
        </div>
        <div class="progress px-0 align-self-center col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8" data-aos="fade-left">
          <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
            style="width: 72%;">
            <span class="sr-only">72% Complete</span>
          </div>
        </div>
      </div>
      <!-- end skill #5 -->

    </div>
  </div>
</div>
