<!-- contact
============================================= -->
<div class="container-fluid bg-secondary" id="contact">
  <div class="container">
    <div class="text-center">
      <h1 class="text-white">KEEP IN TOUCH WITH ME</h1>
    </div>
    <hr class="bg-white">
    <div class="d-flex justify-content-center flex-wrap contact-detail mt-5">

      <!-- land mark -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="100">
        <span> <i class="fas fa-map-marker-alt"></i> </span>
        <h4>#Kukatpally, Hyderabad, India</h4>
      </div>
      <!-- email -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="200">
        <span> <i class="far fa-envelope"></i> </span>
        <h4>amarnathreddy.nandyala@gmail.com</h4>
      </div>
      <!-- mobile -->
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="300">
        <span> <i class="fas fa-phone"></i> </span>
        <h4>+91 8074431306</h4>
      </div>

    </div>
  </div>
</div>
